<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.voroniak"/>
    <context:annotation-config/>

    <bean id="kenny" class="com.voroniak.Instrumentalist" autowire="byName">
        <property name="song" value="Jingle Bells" />
    </bean>

    <bean id = "instrument" class="com.voroniak.Guitar"/>
    <bean id="audience" class="com.voroniak.Audience"/>
    <bean id="magician" class="com.voroniak.Magician"/>

    <aop:aspectj-autoproxy />

    <aop:config>
        <aop:aspect ref="audience">
            <aop:pointcut
                    expression="execution(* com.voroniak.Performer.perform(..))"
                    id="performance"/>
            <aop:around
                    method="watchPerformance"
                    pointcut-ref="performance"/>
        </aop:aspect>

        <aop:aspect ref="magician">
            <aop:pointcut
                    expression="execution(* com.voroniak.Thinker.thinkOfSomething( String))
                    and args(thoughts)"
                    id="thinking"/>
            <aop:before
                    method="interceptThoughts"
                    pointcut-ref="thinking"
                    arg-names="thoughts"/>
        </aop:aspect>

    </aop:config>






</beans>